
<body>
  

    <nav class=" ">
        <div class="d-flex justify-content-between">  
         <div class="logo"><a class="" aria-current="page" href="#"><strong>WELL CARE</strong> </a> </div>
         <button class="menu" id="d1" (onclick)="Show()"></button>
         </div>
        <div>
          <ul>
            <li><a href="">Dashboard</a></li>
            <li><a href="">Department</a></li>
            <li><a href="">Directory</a></li>
            <li><a href="">Resources</a></li>
            <li><a href="">Setting</a></li>
            <li><a href="">User</a></li>
            <li><a href="">Submit Feedback</a></li>
            <li><a href="">kT</a></li>
          </ul>
        </div>
          
      
    </nav>
    
    
    
      <div class="card2">
        <br>
        <br>
        <div><h2>WELCOME <strong>KUNAL</strong></h2> </div>
        <div><h2>TIME HERE</h2></div>
        <div>Date</div>
        <br><br>
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-primary">Kunal</button>
          <button type="button" class="btn btn-primary">k2</button>
          <button type="button" class="btn btn-primary">k3</button>
          </div>
        </div>
    
    </body>



    <!-- <button type="button" class="btn btn-primary"><fa-icon fa-3x [icon]="covid"></fa-icon></button>
          <button type="button" class="btn btn-primary"><fa-icon fa-3x [icon]="newspaper"></fa-icon></button>
          <button type="button" class="btn btn-primary"><fa-icon [icon]="poll"></fa-icon></button> -->
