<div class="register d-flex justify-content-center align-item-center ">
 <div class="regCard">
     <div class="regHead text-center"> <h2>Register</h2></div>
     <div class="regTable" style="background-color: rgb(56, 5, 104);">
        <div class="card-body ">
            <h4 style="color: white;"> USER INFO*</h4>
            <table class=" mx-auto " >
                <tr class="mb-3">
                    <td class="mx-3"> 
                        <div class="mb-3 ">
                            <label for="exampleInputEmail1" class="form-label"style="color: white;">First Name</label>
                            <input type="text" class="form-control" placeholder="first name" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                    </td>
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Last Name</label>
                            <input type="text" class="form-control" placeholder="last name" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                    </td>
                </tr>
                <tr class="mb-3">
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Phone </label>
                            <input type="number" class="form-control" placeholder="phone" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                    </td>
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Email</label>
                            <div class="d-flex" >
                            <input type="email" class="form-control" placeholder="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Choose domain</option>
                                <option value="1">.com</option>
                                <option value="2">.in</option>
                                <option value="3">.net</option>
                              </select>
                            </div>
                          </div>
                    </td>
                </tr>
                <tr class="mb-3">
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Password</label>
                            <input type="password" class="form-control" placeholder="password" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                    </td>
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Confirm Password</label>
                            <input type="password" class="form-control" placeholder="confirm password" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                    </td>
                </tr>
        
                 
                 </table >

                 <hr  style="color: white;" class="mx-auto">

                 <h4 style="color: white;">DEPARTMENT*</h4>
                  
                 <table class="mx-auto" style="width: 75%;"> 
                 <tr class="mb-3">
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Location</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Select Location</option>
                                <option value="1">Regular</option>
                                <option value="2">Partime</option>
                                <option value="3">Work From Home</option>
                              </select>
                          </div>
                    </td>
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Facility </label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Please Select Location first to select Facility </option>
                                <option value="1">Regular</option>
                                <option value="2">Partime</option>
                                <option value="3">Work From Home</option>
                              </select>
                          </div>
                    </td>
                </tr>
                <tr class="mb-3">
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Department</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Please select location first to select Department </option>
                                <option value="1">Regular</option>
                                <option value="2">Partime</option>
                                <option value="3">Work From Home</option>
                              </select>
                          </div>
                    </td>
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Partner</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Select partner</option>
                                <option value="1">Regular</option>
                                <option value="2">Partime</option>
                                <option value="3">Work From Home</option>
                              </select>
                          </div>
                    </td>
                </tr>
                <tr class="mb-3">
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Position</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                    </td>
                </tr>
                     </table>


                     <table class="mx-auto" style="width: 75%;"> 
                <tr class="mb-3">
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Department Head</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Select Department head</option>
                                <option value="1">Regular</option>
                                <option value="2">Partime</option>
                                <option value="3">Work From Home</option>
                              </select>
                          </div>
                    </td>
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Primary Supervisor</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Select Primary Supervisor</option>
                                <option value="1">Regular</option>
                                <option value="2">Partime</option>
                                <option value="3">Work From Home</option>
                              </select>
                          </div>
                    </td>
                </tr>
                <tr class="mb-3">
                    <td> 
                        <div class="mb-3 mr-4">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Secondary Supervisor</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Select Secondary Supervisor</option>
                                <option value="1">Regular</option>
                                <option value="2">Partime</option>
                                <option value="3">Work From Home</option>
                              </select>
                          </div>
                    </td>
                    <td> 
                        <div class="mb-3 ">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Tertiory Supervisor</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Select Tertiory Supervisor</option>
                                <option value="1">Regular</option>
                                <option value="2">Partime</option>
                                <option value="3">Work From Home</option>
                              </select>
                          </div>
                    </td>
                </tr>
            </table>

            <hr style="color: white;"  class="mx-auto">


            <h4 style="color: white;">SCHEDULE*</h4>


            <table class="mx-auto" style="width: 75%;">
                <tr class="mb-3">
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Working shift</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected >Working shift</option>
                                <option value="1">Morning</option>
                                <option value="2">Evening</option>
                                <option value="3">Extra Time</option>
                              </select>
                          </div>
                    </td>
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Employement type</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Select Employement Type</option>
                                <option value="1">Regular</option>
                                <option value="2">Partime</option>
                                <option value="3">Work From Home</option>
                              </select>
                          </div>
                    </td>
                </tr>
                <tr class="mb-3">
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Hours on Monday</label>
                            <input type="number" placeholder="0" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                    </td>
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Hours on Tuesday</label>
                            <input type="number" placeholder="0" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                    </td>
                </tr>
                <tr class="mb-3">
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Hours on Wednesday</label>
                            <input type="number" placeholder="0" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                    </td>
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Hours on Thursday</label>
                            <input type="number" placeholder="0" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                    </td>
                </tr>
                <tr class="mb-3">
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Hours on Friday</label>
                            <input type="number" placeholder="0" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                    </td>
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Hours on Saturday </label>
                            <input type="number" placeholder="0" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                    </td>
                </tr>
                <tr class="mb-3">
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Hours on Sunday</label>
                            <input type="number" placeholder="0" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                    </td>
                    <td> 
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" style="color: white;">Total Hours</label>
                            <input type="number" placeholder="0" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                    </td>
                </tr>
            </table>
            <hr style="color: white;" class="mx-auto">
            <div class="text-end" style="color: white;">Already have an account</div>
            <div class="text-center">
                <button class="btn btn-success " >Submit</button>
            </div>
           </div>
    
     </div>
 </div>
</div>